footer {
    background-color: #fff; /* White background */
    color: #000; /* Black text */
    padding: 20px 0;
  }
  
  .footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 20px;
  }
  
  .logo-section {
    flex: 1;
    text-align: left;
  }
  
  .company-section,
  .resources-section,
  .subscribe-section {
    /* display: flex; */
    margin-left: 4rem;
    /* flex-direction: column-reverse; */
    /* align-items: center; */
    /* justify-content: center; */
    flex: 1;
    text-align: left;
  }
  
  .logo-section img,
  .subscribe-section img {
    width: 100px;
  }
  
  .email-container {
    display: flex;
    margin-top: 10px;
  }
  
  .email-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    border-right: none;
  }
  
  .email-container button {
    background-color: #4CAF50; /* Black button for contrast */
    color: white;
    padding: 10px;
    border: none;
    margin-left: -18px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .email-container button:hover {
    background-color: #333; /* Darker black on hover */
  }
  
  .social-media {
    text-align: center;
    margin-top: 20px;
  }
  
  .social-media a {
    margin: 0 10px;
  }
  
  .social-media svg {
    width: 25px;
    height: 25px;
    fill: #000; /* Black fill for icons */
  }
.footer-container li{
    list-style: none;
    margin: 5px;
    
}  
.adr{
    position: relative;
    top: 10px;
    right: 20px;
    width: 20px;
    color: #000;
}

.social-media svg{
  width: 2rem;
  height: 2rem;
  /* size: 20px; */
}